* { box-sizing:border-box; }

html, body {
    height:100%;
    width:100%;
    background-color:#cdcdcd;
    overflow:hidden;
}

h1 {
    font-size:24px;
    margin:0;
    padding:10px 0 0 16px;
}

h2 {
    font-size: 17px;
    margin: -1px;
    padding: 6px;
    border:1px solid #efefef;
}

button {
    position:absolute;
    right:10px;
    top:10px;
    z-index:1;
    color: white;
    background-image: linear-gradient(to bottom,#33B74F 0,#268837 100%)
}

button.green {
    background-image: linear-gradient(to bottom,#33B74F 0,#268837 100%)
}

button.red {
    background-image: linear-gradient(to bottom,#B73333 0,#882626 100%);
}

select.form-control {
    width:200px;
}

#main {
    background-color:#fff;
    border-radius:3px;
    width:700px;
    height:500px;
    margin:20px auto;
    position:relative;
}

#activity {
    position:absolute;
    right:90px;
    top:10px;
    z-index:1;
}

#channels {
    position:absolute;
    overflow-y:auto;
    overflow-x:hidden;
    top:50px;
    left:10px;
    bottom:55px;
    border:1px solid #efefef;
    width: 181px;
    height: 442px;
}

#messages {
    position:absolute;
    overflow-y:auto;
    overflow-x:hidden;
    top:50px;
    right:10px;
    bottom:55px;
    border:1px solid #efefef;
    padding:6px;
    width: 500px;
}

#input-box {
    position:absolute;
    bottom:-5px;
    right:10px;
    margin-left: 10px;
    width: 490px;
}

.channel {
    font-size: 15px;
    margin: -1px;
    padding: 6px;
    border:1px solid #efefef;
}

.activeChannel {
    background-image:linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    color: white;
}

.channel:hover {
    background-image: linear-gradient(to bottom,#33B74F 0,#268837 100%);
    color: white;
}

.btn:focus {
    outline:none;
}

.info {
    margin:3px;
    font-size:10px;
    color:#aaa;
    font-style:italic;
}

.chat {
    font-size:14px;
    margin:5px 3px;
}

.chat span {
    font-weight:bold;
}
